.list-con {
  box-sizing: border-box;
  //position: absolute;
  padding: .4rem;
  left: 3.44rem;
  width: 19rem;
  height: calc(100vh - 5.76rem);
  overflow-y: auto;
  z-index: 50;
}
.list-con .con-box.cur {
  display: block;
}
.list-con .con-box {
  width: 19rem;
  display:  block;
}
.list-con .con-box .food-con {
  width: 19rem;
  overflow: hidden;
}
.list-con .con-box .title {
  width: 100%;
  text-align: center;
  margin: .6rem auto .8rem auto;
}
.list-con .con-box .module-title {
  color: #222;
  font-size: 1rem;
  line-height: .6rem;
  margin: .6rem auto .8rem auto;
  text-align: center;
  font-weight: bold;
  position: relative;
  width: 100%;
}
.food-con-item{
  float: left;
  width: 6.33rem;
  margin: 0 0 .3rem 0;
}
.food-con-item img {
  width: 5.33rem;
  height: 5.33rem;
  margin: 0 .5rem;
  position: relative;
}
.food-con-item em {
  display: block;
  white-space: nowrap;
  font-size: .8rem;
  color: #222222;
  height: 1.08rem;
  line-height: 1.08rem;
  text-align: center;
  overflow: hidden;
  font-family: 'PingFangSC-Regular';
  font-style: normal;
  font-weight: 500;
}
.am-tabs-vertical .am-tabs-tab-bar-wrap{
  height:20rem;
}
.am-tabs-vertical .am-tabs-content-wrap {
  height:35rem;
}