.banner {
  width: 100%;
  height: 8.74rem;
  background: #32CD32;
  position: relative;
}
.banner .nav-box {
  height: 1.28rem;
  padding-top: 1.26rem;
  text-align: center;
  position: relative;
}
.banner .nav-box .nav-title {
  font-size: 1.32rem;
  font-weight: bold;
  color: #000;
}
.banner .nav-box .nav-right {
  height: 1.28rem;
  position: absolute;
  right: 0.6rem;
  top: 1.26rem;
}
.tr {
  text-align: right;
}
.banner .user-info {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.56rem .84rem 0;
  position: relative;
}
.banner .user-info .user-logo {
  position: relative;
}
.banner .user-info .user-logo img {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.3rem;
  border: 0.1rem solid #fff;
}
.banner .user-info .user-detail .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.8rem;
}
.banner .user-info .user-detail .user-name span {
  display: block;
  font-size: 0.96rem;
  margin-left: 0.6rem;
  max-width: 5.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
}
.order {
  margin-bottom: 0.4rem;
  margin-top: 1.38rem;
  margin-right: .48rem;
  border-radius: .24rem;
  background: #fff;
  margin-left: .48rem;
  padding: .48rem;
  height:7rem;
}
.box-title {
  width: 100%;
  height: 1.78rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: PingFangSC-Semibold;
  font-size: .85rem;
  color: #222;
  letter-spacing: 0;
  font-weight: 700;
}
.box-title a {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.68rem;
  color: #666;
}
.order .order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.52rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.order .btn i {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 0.26rem;
  position: relative;
}
.order .btn span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #666;
  margin-top: 0.5rem;
}
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  margin: 0.8rem 0.8rem 0.3rem 0.8rem;
  fill: currentColor;
  overflow: hidden;
}
