//修改antd-mobile样式
.am-search.my-search {
  background-color: #ffffff;
}
.my-search.am-search .am-search-input{
  background-color: #efeff4;
  border-radius: 20px;
}
.am-navbar-light {
  color: #32CD32;
}
.am-search-cancel {
  color: #32CD32;
}
.am-tabs-default-bar-tab-active {
  color: #32CD32;
}